.App {
  display: grid;
  grid-template-columns: 0.2fr 6fr;
  gap: 1rem;
  text-align: center;
}

.navbar {
  padding: 1rem;
}

.form {
  border: 1px solid green;
  grid-column: span 2;
}

.App article {
  border: 2px solid red;
  border-left: 2px solid blue;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 0.5em;
}

.searchedVideos section {
  background: linear-gradient(
    rgb(255, 255, 255, 0.08),
    rgb(255, 255, 255, 0.08)
  );
  box-shadow: rgb(255, 255, 255, 0.05) 1px 1px 1px,
    rgb(255, 255, 255, 0.08) -1px -1px 1px;
  border-radius: 0.9rem;
  border: none;
  z-index: 10;
  width: 300px;
  height: 300px;
}

.searchedVideos section img {
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
  width: 300px;
  height: 200px;
}

.searchedVideos section h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 350px;
  /* color: #fff; */
}
