.App {
  display: grid;
  grid-template-columns: 0.2fr 6fr;
  gap: 1rem;
  text-align: center;
}

.navbar {
  padding: 1rem;
}

.form {
  grid-column: span 2;
}

.logo {
  position: relative;
  right: 25%;
  font-weight: bolder;
}

.logoIcon {
  color: #ff0000;
  position: relative;
  top: 3px;
  padding: 3px;
  font-size: larger;
}

.form input {
  margin-top: 1em;
  padding: 0.5em 30em 0.5em 0.3em;
  background: none;
  border: 0.5px solid gray;
  border-radius: 0.3rem;
  color: #fff;
}

.form button {
  position: relative;
  right: 2.5%;
  top: 5px;
  background: none;
  border: none;
  color: #fff;
  font-weight: bolder;
  font-size: large;
}

.form button:hover {
  color: #ff0000;
}

.videos section {
  border: none;
  z-index: 10;
  width: 300px;
  height: 300px;
}

.searchedVideos section img {
  border-radius: 0.8rem;
  width: 300px;
  height: 200px;
}

.searchedVideos section h3 {
  white-space: nowrap;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 350px;
  background: linear-gradient(
    rgb(255, 255, 255, 0.08),
    rgb(255, 255, 255, 0.08)
  );
  box-shadow: rgb(255, 255, 255, 0.05) 1px 1px 1px,
    rgb(255, 255, 255, 0.08) -1px -1px 1px;
  border-radius: 0.4rem;
  text-align: start;
}

.searchedVideos section p {
  white-space: nowrap;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  background: linear-gradient(
    rgb(255, 255, 255, 0.08),
    rgb(255, 255, 255, 0.08)
  );
  box-shadow: rgb(255, 255, 255, 0.05) 1px 1px 1px,
    rgb(255, 255, 255, 0.08) -1px -1px 1px;
  border-radius: 0.4rem;
  text-align: start;
}
